.container {
  width: 700px;
  margin: 0 auto;
  border: 2px solid black;
}

h1,
.user_input,
h3 {
  text-align: center;
}
table {
  margin: 0 auto;
}
table,
th {
  border: 2px solid gray;
  border-collapse: collapse;
  padding: 5px;
}
tr#row_2 {
  color: gray;
}
.user_input {
  margin-top: 1%;
}
input#userInput {
  line-height: 1.6;
  width: 69%;
  border: 2px solid gray;
}
.btn {
  text-align: center;
  margin-top: 2%;
}
button {
  width: 15%;
}
button#startButton {
  color: green;
  background: transparent;
  border: 2px solid green;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
button#pauseButton {
  color: lightskyblue;
  background: transparent;
  border: 2px solid lightskyblue;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
button#stopButton {
  color: red;
  background: transparent;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
button#resetButton {
  color: #654321;
  background: transparent;
  border: 2px solid #654321;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
button#resumeButton {
  display: none;
  color: green;
  background: transparent;
  border: 2px solid green;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
button#restartButton {
  display: none;
  color: green;
  background: transparent;
  border: 2px solid green;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
.text {
  width: 50%;
  margin: 0 auto;
}
h3 {
  border: 2px solid #654321;
  border-radius: 3px;
}
h2 {
  text-align: center;
  border: 2px solid skyblue;
  border-radius: 3px;
  display: none;
  margin: 0 auto;
}
h2#peraText{
  width: 70%;
  margin-top: 3%;
}
.userLogs{
  width:40%;
  display: none;
  text-align: center;
  margin: 0 auto;
  border: 1px solid green;
}
